* {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #121223;
}
.game-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 510px;
  border-bottom: 2px solid #3a3a3c;
}

.tile-container {
  width: 330px;
  margin-bottom: 30px;
}
.tile-container div {
  display: flex;
}

.tile-container .tile {
  width: 62px;
  height: 62px;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.key-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  color: black;
}
.key-container button {
  width: 42px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  color: #ffff;
  margin: 4px;
}
.key-container button:nth-child(11) {
  margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
  width: 70px;
}

.message-container {
  height: 30px;
}

.message-container p {
  margin: 0;
  padding: 10px;
  background-color: #818284;
  border-radius: 10px;
}
.tile.flip {
  animation: 0.5s linear flipping;
}
@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}
